name: Stage release

on:
  workflow_call:
    inputs:
      beta:
        type: boolean
        description: "Make beta release"
        default: false

  workflow_dispatch:
    inputs:
      beta:
        type: boolean
        description: "Make beta release"
        default: false

permissions:
  contents: write
  pull-requests: write

env:
    RELEASE_PLEASE_CONFIG_FILE: ${{ inputs.beta && 'release-please-config-beta.json' || 'release-please-config-beta.json' }}
    RELEASE_PLEASE_MANIFEST_FILE: ${{ inputs.beta && '.release-please-manifest-beta.json' || '.release-please-manifest.json' }}

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      upload_url: ${{ steps.release.outputs.upload_url }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      pr: ${{ steps.release.outputs.pr }}
    steps:
      - name: Create release
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: ${{ env.RELEASE_PLEASE_CONFIG_FILE }}
          manifest-file: ${{ env.RELEASE_PLEASE_MANIFEST_FILE }}

  artifacts:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.release-please.outputs.tag_name }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Build plugin
        run: |
          pnpm install
          pnpm run build
          pnpm run version

      - name: Upload release artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ needs.release-please.outputs.tag_name }}
        run: gh release upload ${{ env.TAG_NAME }} ./main.js ./manifest.json ./styles.css

      # obsidian expects release title to be same as tag; see: https://github.com/TfTHacker/obsidian42-brat/blob/main/BRAT-DEVELOPER-GUIDE.md
      - name: Rename release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ needs.release-please.outputs.tag_name }}
        run: |
          gh release edit "${{ env.TAG_NAME }}" --title="${{ env.TAG_NAME }}"
